
{% extends "homepage.html" %}

{% block body_base %}
<main>
    <section id="content-section">
        <div id="content-body">
            <h2 class="text-center">List of events</h2>
            <p class="lead">
                Are you going?<br><br>
                {{ form }}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="see-more lead text-center">
                [ lower section content ]
            </p>
        </div>
    </section>
</main>
{% endblock %}

