click==5.1
colorama==0.3.3
Django==1.11.7
django-appconf==1.0.2
django-bootstrap-form==3.3
django-bootstrap3==9.1.0
django-debug-toolbar==1.9.1
django-grappelli==2.10.1
django-user-accounts==2.0.3
jsonfield==2.0.2
pinax-cli==1.0.0
pinax-eventlog==1.1.2
pinax-templates==0.2
pinax-webanalytics==3.0.0
pytz==2017.3
requests==2.7.0
sqlparse==0.2.4
