{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% load pinax_webanalytics_tags %}
{% load i18n %}

    {# Load the tag library #}
    Load the tag library
    {% load bootstrap3 %}
    load bootstrap3

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

{% block styles %}
    <link href="{% static "css/app.css" %}" rel="stylesheet" />
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block topbar_base %}
<header>
    <div class="navbar {% block navbar_class %}navbar-expand-lg navbar-light bg-light{% endblock %}">
        <div class="container">
        {% block topbar %}
            {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block nav %}
                    <ul class="navbar-nav mr-auto">
                        {% block nav_items %}{% comment %}
                        <li class="nav-item"><a class="nav-link" href="#tab_one">One</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_two">Two</a></li>
                        {% endcomment %}{% endblock %}
                    </ul>
                {% endblock %}
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
</header>
{% endblock %}


{% block footer %}
    <div style="float:left;">
        <a href="{% url 'profiles:index' %}">Scout Roster</a><br />
        <a href="{% url 'patrols:index' %}">Patrol List</a><br />
        <a href="{% url 'events:index' %}">Event List</a><br />
{% comment %}        
        <a href="{% url 'admin' %}">Admin</a><br />
{% endcomment %}
        {% include "_footer.html" %}
    </div>
    
    <div style="float:right;">
        {% spaceless %}
        <img src="{% static "images/Unit Number 9.jpg" %}" alt="Unit Number 9" height="50" />
        <img src="{% static "images/Unit Number 5.jpg" %}" alt="Unit Number 5" height="50" />
        <img src="{% static "images/Unit Number 6.jpg" %}" alt="Unit Number 6" height="50" />
        {% endspaceless %}
    </div>
    
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

